<h1>Edit Task</h1>

<%= form_with model: @task, url: task_path(@task), method: :patch, local: true do |form| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :details %>
    <%= f.text_area :details %>
  </div>

  <div>
    <%= f.label :completed %>
    <%= f.check_box :completed %>
  </div>

  <div>
    <%= f.submit "Update Task" %>
  </div>
<% end %>
