<h1><%= @task.title %></h1>

<p><%= @task.details %></p>
<p>Status: <%= @task.completed ? "Complétée" : "En cours" %></p>

<%= link_to "Modifier", edit_task_path(@task) %> |
<%= link_to "Supprimer", task_path(@task), data: { turbo_confirm: "Are you sure?", turbo_method: :delete } %>
<%= link_to "Retour à la liste", tasks_path %>
